numpy
g2p_en
unidecode
pydub
flask
flask_cors
scipy
IPython
matplotlib
sounddevice
google-cloud-storage

# --------- Tacotron2 + Tronduo additions --------- #

librosa
inflect
# --------- HiFi-GAN --------- #
glob2
# --------- MOS_SSL ------- #

argparse
# --------- So_To_Speak interface --------- #
notebook
ipywidgets
pandas
tqdm
